Python_Ejers/SBIG-BIGD/datos/*
Python_Ejers/SBIG-BIGD/resultados/*
Python_Ejers/SAPA/Deep_Learning/Ejercicios/datos/*
Python_Ejers/SAPA/Deep_Learning/Ejercicios/recursos/*
Python_Ejers/SAPA/Deep_Learning/Ejercicios/runs/*
Python_Ejers/SAPA/Deep_Learning/Ejercicios/sam2/*
Python_Ejers/SAPA/Deep_Learning/Inspiracion_Examen/*
Python_Ejers/SAPA/Deep_Learning/Examen_2Eval
Python_Ejers/SAPA/Deep_Learning/clave_gemini_api.txt
Python_Ejers/SAPA/Deep_Learning/Ejercicios/results/*
Python_Ejers/SAPA/Deep_Learning/Ejercicios/final_model
Python_Ejers/SAPA/Deep_Learning/Ejercicios/logs
Python_Ejers/SAPA/Deep_Learning/Ejemplos/LangChain