Python_Ejers/SBIG-BIGD/datos/*
Python_Ejers/SAPA/Deep_Learning/Ejercicios/datos/*
Python_Ejers/SAPA/Deep_Learning/Ejercicios/recursos/*
Python_Ejers/SAPA/Deep_Learning/Ejercicios/runs/*
Python_Ejers/SAPA/Deep_Learning/Ejercicios/sam2/*
Python_Ejers/SAPA/Deep_Learning/Inspiracion_Examen/*